@import '~bootstrap/scss/bootstrap';

body {
  padding: 0;
  margin: 0;
  background-color: #2B4450;
  overflow-y: scroll;
}

.btn {
  background-color: #2B4450;
  margin: 17px auto;
  border: none;
}

.btn:hover {
  background-color: rgba(223, 235, 237, .7);
  border: 1px solid #497285 ;
  color: #497285;
}

.goalStatCard:hover {
  border: 4px solid #497285;
  background-color: rgba(223, 235, 237, 7);
  // color: #F78536;
}

.navbar {
  padding: 0;
}

.title {
  font-size: 5rem;
  text-align: center;
  color: rgba(247, 133, 54, 1);
  font-weight: bold;
}
.description {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 1400px) { 
  .signUpCard,
  .signInCard {
    z-index: 2;
  }
  .title {
  font-size: 3rem;
  }
} 

@media (max-width: 800px) { 
  .signUpCard,
  .signInCard {
    z-index: 2;
  }
  .title {
  font-size: 3rem;
  text-align: justify;
  }

  .description {
    display: none;
  }
} 