@import '~bootstrap/scss/bootstrap';

body {
  padding: 0;
  margin: 0;
  background-color: #2B4450;
  overflow-y: scroll;
}

.btn {
  background-color: #2B4450;
  margin: 17px auto;
  border: none;
}

.btn:hover {
  background-color: rgba(223, 235, 237, .7);
  border: 1px solid #497285 ;
  color: #497285;
}

.goalStatCard:hover {
  border: 4px solid #497285;
  background-color: rgba(223, 235, 237, 7);
  // color: #F78536;
}

.navbar {
  padding: 0;
}
